{%extends 'base.html' %}
{% block title %} MAX{% endblock title %}
{% block blogactive %} active {% endblock blogactive %} 


{% block body %}
<form action='/braille' method='get'>
<div class = 'container mx-15 my-5' >
    {% comment %} <textarea name='text' style='margin: 0px; width: 1200px; height: 500px;'name="Summarize" placeholder="Here is your summarized text : {{ analyzed_text }}"></textarea><br> {% endcomment %}
    <textarea name="BrailleResponse" style="margin: 0px; width: 1200px; height: 500px;">{{ analyzed_text }}</textarea><br>
    <button type='submit'> Submit</button>
</div>
</form>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
{%endblock%}